DOMAIN=roundtalk.shamilfrontend.ru
ACME_EMAIL=admin@example.com

JWT_SECRET=change-me
JWT_EXPIRES_IN=15m

CORS_ORIGIN=https://roundtalk.shamilfrontend.ru
CLIENT_URL=https://roundtalk.shamilfrontend.ru

TURN_SECRET=change-me
# Публичный IPv4 VPS
TURN_EXTERNAL_IP=203.0.113.10
TURN_URLS=stun:stun.l.google.com:19302,turn:roundtalk.shamilfrontend.ru:3478?transport=udp,turn:roundtalk.shamilfrontend.ru:3478?transport=tcp

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=https://roundtalk.shamilfrontend.ru/api/auth/yandex/callback

VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=https://roundtalk.shamilfrontend.ru/api/auth/vk/callback
